<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Eigbooks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../css/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<header>


    <nav class="navbar" th:fragment="navbar">
        <ul class="nav-right">
            <li class ="split" > <a class="title" th:href="@{/}">Eigbooks</a> </li>
            <li> <a th:href="@{/Account}">Account</a></li>
            <li> <a th:href="@{/Cart}"> Cart</a></li>
            <li> <a th:href="@{/store}">Books</a> </li>
            <li> <a th:href="@{/}">Home</a> </li>
        </ul>
    </nav>
</header>
    <h1> Welcome to your account section </h1>
    <h1 th:text="${user}"> </h1>

<ul class="nav-right">
    <li class ="split" > <a class="title" th:href="@{/}">Eigbooks</a> </li>
    <li> <a th:href="@{/AddNew}">Add New Products</a></li>
    <li> <a th:href="@{/HideProduct}"> Hide Product </a></li>
    <li> <a th:href="@{/}">Review Orders</a> </li>
    <li> <a th:href="@{/}">Home</a> </li>
</ul>
<h3> Add new products </h3>



    <p><a th:href="@{/logOut}" >Log out</a></p>
</body>
</html>

