<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Eigbooks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../css/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<header>


    <nav class="navbar" th:fragment="navbar">
        <ul class="nav-right">
            <li class ="split" > <a class="title" th:href="@{/}">Eigbooks</a> </li>
            <li> <a th:href="@{/Account}">Account</a></li>
            <li> <a th:href="@{/Cart}"> Cart</a></li>
            <li> <a th:href="@{/store}">Books</a> </li>
            <li> <a th:href="@{/}">Home</a> </li>
        </ul>
    </nav>
</header>
    <h1> Welcome to the Admin account section. Select one of the options below </h1>
    <h1 th:text="${user}"> </h1>

<div class="buttons" style="margin-top:500px ">
    <p class="fakebutton"><a th:href="@{/HideProduct}" class="addtoCart" >Hide a product</a></p>
    <p class="fakebutton"><a th:href="@{/updateProduct}" class="addtoCart" >Update A product</a></p>
    <p class="fakebutton"><a th:href="@{/AddNew}" class="addtoCart" >Create a new product</a></p>
    <p class="fakebutton"><a th:href="@{/ViewOrders}" class="addtoCart" >Review Orders</a></p>
    <p class="fakebutton"><a th:href="@{/logOut}" class="addtoCart" >Log out</a></p>
</div>



</body>
</html>

