<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Eigbooks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../css/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<header>


    <nav class="navbar" th:fragment="navbar">
        <ul class="nav-right">
            <li class ="split" > <a class="title" th:href="@{/}">Eigbooks</a> </li>
            <li> <a th:href="@{/Account}">Account</a></li>
            <li> <a th:href="@{/Cart}"> Cart</a></li>
            <li> <a th:href="@{/store}">Books</a> </li>
            <li> <a th:href="@{/}">Home</a> </li>
        </ul>
    </nav>
</header>
<h1> Welcome to your Cart section </h1>
<h1 th:text="${user}"> </h1>


<div class="cart">
    <div class="cartObj" th:each="book,iter: ${cart.productIds}">
        <ul class="CartList">
            <img th:src ="@{../images/book.jpg}" alt="Book" class="cartImg" >
            <li class="ItemTitle" style="width: 20%"><span th:text="${book.getName()}"> </span></li>
            <ul class="InfoList">
            <li class ="ItemPrice">Price per Item: € <span th:text ="${book.getPrice()}"></span> </li>
            <li class ="ItemPriceTotal">Total Price: € <span th:text ="${book.GetPricewithQuant( cart.getQuantities().get(iter.index))}"></span> </li>
                <li style="text-align: right;font-size: 150%">Quantity: <span th:text ="${cart.getQuantities().get(iter.index)}"></span> </li>
                <ul class="quantityButtons">
            <li class="quantityButton" > <a th:href="@{/Increasequantitiy(input=${book.getId()})}" class="fakebutton"> Increase quantity</a></li>
            <li class="quantityButton"><a th:href="@{/Decreasequantitiy(input=${book.getId()})}" class="fakebutton"> decrease quantity</a></li>
                </ul>
            </ul>
        </ul>
        <p class="cartRemove"><a th:href="@{/RemovefromCart(input=${book.getId()})}" class="fakebutton">Remove from cart</a></p>
    </div>
</div>
<ul class="cartBottom">
<li class ="ItemPriceTotalTotal" style="float:left;">Total Price: € <span th:text ="${cart.getPrice()}"></span> </li>
<li class="cartRemove"style="text-align: left;"><a th:href="@{/Checkout(input=${cart})}" class="fakebutton">CheckOut</a></li>
</ul>
</body>
</html>