<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Eigbooks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../css/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<header>


    <nav class="navbar" th:fragment="navbar">
        <ul class="nav-right">
            <li class ="split" > <a class="title" th:href="@{/}">Eigbooks</a> </li>
            <li> <a th:href="@{/Account}">Account</a></li>
            <li> <a th:href="@{/Cart}"> Cart</a></li>
            <li> <a th:href="@{/store}">Books</a> </li>
            <li> <a th:href="@{/}">Home</a> </li>
        </ul>
    </nav>
</header>


<main>
  <h1> New and popular products</h1>
    <div class="store">
        <div class="card" th:each="book,iter : ${books}" th:if="${iter.index}<7">
            <img th:src ="@{../images/book.jpg}" alt="Book" style="width:100%">
            <p><a class="name" th:href="@{/productPage(input=${book.getId()})}" ><span th:text ="${book.getName()}"></span></a></p>
            <p class="Productprice"><span th:text ="${book.getPrice()}"></span></p>
            <p> Books can be read sometimes </p>
            <p class="fakebutton"><a th:href="@{/AddtoCart(input=${book.getId()})}" class="addtoCart" >Add to cart</a></p>
        </div>
    </div>
</main>
</body>
</html>
