<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title> Security Dilemma</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sytleSheet.css">
</head>
<body>
<h1 class="title"> Security Dilemma</h1>
<nav class="navbar">
    <!-- nav is used for a set of links, the class will be used to change the looks of the bar  -->
    <ul>
        <!-- UL means unordered list, it is a list that is out of order -->
        <li> <a href="homepage.html">Home</a> </li>
        <!-- Li , is an an item on a list, or like an element in other languages -->
        <li> <a href="vehicleview.html">Merch</a> </li>
        <!-- <a> tells the compiler that there will will be  href or a refrence to something on the text link -->
    </ul>
</nav>


<main>


    <h3>
        Merch
    </h3>
    <div class="Merchbox">
        <div></div>
        <div>
            <div class="Merchview">

            </div>
        </div>
        <div>
            <div class="Merchview">
            </div>
        </div>
        <div>
            <div class="Merchview">

            </div>
        </div>
        <div></div>

    </div>


    <div class="Merchbuy">

    </div>


    <div class="Merchbuy">
    </div>

    <div class="Merchbuy">
    </div>

</main>
</body>
</html>
