<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Eigbooks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../css/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<header>


    <nav class="navbar" th:fragment="navbar">
        <ul class="nav-right">
            <li class ="split" > <a class="title" th:href="@{/}">Eigbooks</a> </li>
            <li> <a th:href="@{/Account}">Account</a></li>
            <li> <a th:href="@{/Cart}"> Cart</a></li>
            <li> <a th:href="@{/store}">Books</a> </li>
            <li> <a th:href="@{/}">Home</a> </li>
        </ul>
    </nav>
</header>
<body>
<main>
    <div class="product">
        <h1><span th:text="${book.getName()}" class="productName"> </span></h1>
        <h1><span th:text="${book.getDescription()}"> </span></h1>
        <img th:src ="@{../images/book.jpg}" alt="Book" class="productImage">
        <p class="productPrice"> € <span th:text="${book.getPrice()}"> </span></p>
    <p class="productAddtoCart"><a th:href="@{/AddtoCart(input=${book.getId()})}" class="fakebutton">Add to cart</a></p>
        <p class="desciption"></p>
    </div>
</main>
</body>
</html>
